.ui-slider-tick {
    position: absolute;
    background-color: #aaa;
    width: 2px;
    height: 8px;
    top: 16px;
}
.slider {
    width: 70%;
    height: 2%;
    margin: 0 10% 0 10%
}
h3{
    color: #866baa;
}
.ln{
    width:100px;
    display:inline-block;
    font-weight: bold;
    font-size: 18px;
    color: #12b614;
    padding-left:40px
}